/* Please note this document will be updated as time goes by. Thank you */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Poppins", sans-serif;
    }
}

@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    textarea {
        @apply block w-full rounded-md border-0 p-2 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-300 placeholder:text-slate-500 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm bg-white;
    }
    label {
        @apply block text-sm font-medium leading-6 text-slate-900 first-letter:capitalize;
    }
    header {
        @apply bg-slate-800 shadow-md;
    }
    nav {
        @apply p-5 max-w-screen-lg mx-auto flex items-center justify-between;
    }
    main {
        @apply max-w-screen-lg mx-auto;
    }
    .primary-btn {
        @apply flex w-full justify-center rounded-md bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:bg-slate-400 disabled:cursor-wait;
    }
    .text-link {
        @apply font-semibold text-blue-500 hover:text-blue-600;
    }
    .nav-link {
        @apply text-slate-200 hover:bg-slate-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium;
    }
    .title {
        @apply my-6 text-center text-3xl font-bold leading-9 text-slate-900;
    }
    .error {
        @apply text-xs text-red-500 mt-1;
    }
    table {
        @apply w-full text-sm text-left rounded-md shadow-lg overflow-hidden mb-6 table-auto bg-white;
    }
    thead {
        @apply text-xs uppercase font-medium border-b border-slate-100 text-slate-600;
    }
    tbody tr {
        @apply hover:bg-slate-100 w-full p-0;
    }
    th {
        @apply px-6 py-4;
    }
    td {
        @apply px-6 py-4 border-b border-slate-100;
    }
    .avatar {
        @apply w-8 h-8 rounded-full overflow-hidden object-center object-cover;
    }
    .round-btn {
        @apply w-8 h-8 overflow-auto rounded-full bg-slate-100 focus:outline-none focus:ring-1 focus:ring-slate-100 focus:ring-offset-2 focus:ring-offset-slate-800;
    }
}

textarea {
    resize: none;
}

h1 {
    text-align: center;
    color: #4181ee;
    font-size: larger;
    font-weight: bold;
}
.wrapper {
    margin-top: 1.5rem;
    display: flex;
    /* justify-content: center;
    flex-wrap: wrap; */
    flex-direction: column-reverse;
}
.card {
    min-height: 150px;
    background: #02b875;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    margin: 20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
        rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}
.card:nth-child(2) {
    background: #4181ee;
}
.card:last-child {
    background: #673ab7;
}
.card-author {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.card-content {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
.card-btn {
    all: unset;
    display: block;
    margin-left: auto;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
}
.card-btn:hover {
    color: #02b875;
    background: #fff;
}
.card:nth-child(2) .card-btn:hover {
    color: #4181ee;
    background: #fff;
}
.card:last-child .card-btn:hover {
    color: #673ab7;
    background: #fff;
}

.write-post {
    margin-top: 2rem;
    width: 95%;
    justify-self: center;

    textarea {
        width: 90%;
        resize: none;
    }

    button {
        margin-left: 1rem;
        padding: 2rem;
        background-color: slateblue;
        border-radius: 15%;
        color: #fff;
    }
}

.comments-block {
    margin: 1em 0 1.5em;
    line-height: 1.6em;
    font: normal 13px Cabin, sans-serif;

    .comment-author {
        margin: 0.5em 0;
        font: normal 13px Cabin, sans-serif;
    }

    .comment-body {
        margin: 0.25em 0 0;
        font: normal 13px Cabin, sans-serif;
    }

    /* if future can be useful 
    .comment-footer {
        margin: -0.25em 0 2em;
        line-height: 1.4em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font: normal 13px Cabin, sans-serif;
    } */
}
